<?php

define("DB_HOST", "localhost");
define("DB_NAME", "aztrek");
define("DB_USER", "root");
define("DB_PASS", "root");

define("CURRENT_URL", "http://" . $_SERVER["HTTP_HOST"] . $_SERVER["REQUEST_URI"]);
define("SITE_URL", "http://localhost:8888/cours-dc9/module-3/aztrek/");
define("ADMIN_URL", SITE_URL . "admin/");
